body{
  padding: 50px;
  background-color: aqua;
}
img{
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
}

.same{
    height: 200px;
    width: 100%;
    background-color: pink;
    transition: transform 300ms ease-in-out;
}

.box:hover{

    transform: translate(200px, 150px) rotate(20deg);

}