body{
    background-color: aqua;
}
.same{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
img{
    width: 300px;
    height: 200px;
}
.circle{
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 60px 0;
    background-color: pink;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
    transition: background 1s,transform 0.3sec 1s ease;

}

.circle:hover{
    background-color: salmon;
    transform: rotate(360deg);
}