div{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 800px;
    background: linear-gradient(to right, red, pink) ;
}
.p{
    background: linear-gradient(to left,black, slategray) ;
    /text-shadow: -2px -2px;

}

.s{
    background: linear-gradient(blue, skyblue) ;
}

h1{
    font-size: 4rem;
    text-align: center;
    top:auto;
    color: beige;
    text-shadow: 4px 5px  5px black;
}
h2{
    color: whitesmoke;
    font-size: 6rem;
    text-shadow: -5px -5px 5px black;
}